<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-content [fullscreen]="true" class="background">
    <ion-header collapse="condense">
      <ion-toolbar> </ion-toolbar>
    </ion-header>
    <div id="welcome-screen">
      <h1 class="fade-in">
        <center><strong>Welcome</strong></center>
      </h1>
      <h2 class="fade-in"><center>Youth Financial Literacy</center></h2>
      <h3><center>Finance. By the dollar.</center></h3>
    </div>

    <div text-center id="container">
      <p>
        <a href="https://www.1stunitedcu.org/">
          <ion-img
            style="width: 190px; height: 190px"
            src="https://i.ibb.co/fppkvvW/MSJ-Image.png"
          ></ion-img>
        </a>
      </p>

      <p class="bottom-right">
        <a href="https://www.1stunitedcu.org/">
          <ion-img
            style="width: 175px; height: 175px"
            src="https://www.1stunitedcu.org/sites/www.1stunitedcu.org/files/logo.jpg"
          ></ion-img>
        </a>
      </p>
    </div>

    <div style="text-align: bottom" class="footer">
      <p style="text-align: center">
        <strong>Follow us for more MoneyWise tips:</strong>
      </p>
      <p style="text-align: center">
        <a href="https://www.facebook.com/1stunitedcu/">
          <ion-icon name="logo-facebook" size="large"></ion-icon>
        </a>
        <a
          href="https://twitter.com/1stunitedcu?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
        >
          <ion-icon name="logo-twitter" size="large"></ion-icon>
        </a>
        <a href="https://www.instagram.com/1stunitedcu/?hl=en">
          <ion-icon name="logo-instagram" size="large"></ion-icon>
        </a>
      </p>

      <p style="text-align: center"></p>

      <p style="text-align: center"></p>
    </div>
  </ion-content>
</ion-header>
  
  